body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background: hsl(30, 38%, 92%);
}
/* 
- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

*/

/*
- Mobile: 375px
- Desktop: 1440px
*/

/*  
- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)
*/

.cart-box-wrap {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.cart-img {
  width: 300px;
  height: 450px;
}
.cart-img img {
  width: 100%;
  border-radius: 0.6em 0 0 0.6em;
}
.cart-description {
  width: 240px;
  height: 390px;
  padding: 30px;
  background: hsl(0, 0%, 100%);
  border-radius: 0 0.6em 0.6em 0;
}
.type {
  /* 글자 간 간격 */
  letter-spacing: 0.4em;
  color: hsl(228, 12%, 48%);
}
.object-name {
  font-family: 'Fraunces', serif;
  font-size: 2.4em;
  font-weight: 700;
  margin: 0.6em 0.1em;
  line-height: 1em;
  color: hsl(212, 21%, 14%);
}
.object-desc {
  line-height: 1.6em;
  margin: 1.8em 0;
  color: hsl(228, 12%, 48%);
}
.price-box {
  display: flex;
}
.price-box .sale-price {
  font-family: 'Fraunces', serif;
  font-size: 2.4em;
  color: hsl(158, 36%, 37%);
}
.price-box .origin-price {
  width: 100%;
  color: hsl(228, 12%, 48%);
  text-align: center;
  align-self: center;
  /* 취소선 밑줄 긋기 */
  text-decoration: line-through;
}
.add-cart {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em 1.2em;
  margin-top: 1.8em;
  background: hsl(158, 36%, 24%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.6em;
  border: 0;
  /* font-size: 1em; */
  font-weight: 700;
}
.add-cart img {
  margin-right: 0.6em;
}
.add-cart:hover {
  cursor: pointer;
}
