body {
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  background: hsl(212, 45%, 89%);
}

.qr-code-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.qr-code-box {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 290px;
  height: fit-content;
  border-radius: 1rem;
  padding: 1em;
  background: hsl(0, 0%, 100%);
  margin-bottom: 1em;
  box-shadow: 1px 1px 5px hsl(218, 44%, 22%);
}

.qr-code-wrap img {
  width: 100%;
  border-radius: 0.5rem;
}
.qr-code-wrap .code-name {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  text-align: center;
  font-size: 1.2em;
  padding: 0 1em;
}
.qr-code-wrap .code-desc {
  color: hsl(220, 15%, 55%);
  text-align: center;
  padding: 0 1em;
  margin-bottom: 1.4em;
  font-size: 1em;
}
/*

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)


*/

/*

media query

- Mobile: 375px
- Desktop: 1440px

*/

@media (width >= 1440px) {
  .qr-code-wrap {
    height: 100vh;
  }
}
/* 가로모드일 경우 */
@media (375px <= width < 1440px) and (orientation: landscape) {
  .qr-code-wrap {
    height: auto;
  }
}
